node_modules/
.expo/
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
*.csproj
*.sln
.DS_Store
Thumbs.db
rn-getaway/android/.gradle
rn-getaway/android/build/
rn-getaway/android/app/build/
rn-getaway/server/dist/
